---
layout: default
---

{% for post in paginator.posts %}
	<div class="post">
		<h5 class="grey-text">{{ post.date | date_to_string }}<h5>
		<h3><a class="grey-text text-darken-2" href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h3>
		<p>{{post.description}}...</p>
	</div>
{% endfor %}

<div class="col s12 pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous col s2 offset-s2">Posts novos</a>
  {% else %}
    <span class="previous col s2 grey-text text-lighten-1">Posts novos</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next col s2 offset-s8 right-align">Posts antigos</a>
  {% else %}
    <span class="next col s2 offset-s8 right-align grey-text text-lighten-1">Posts antigos</span>
  {% endif %}
</div>
