<header class="row">
  <div class="header-bg col s12 center hide-on-med-and-down">
      <h1>{ rpaggi }</h1>
  </div>
  <div class="col s12 black header-bar">
      <div class="col s8 hide-on-med-and-down">.</div>
      <ul class="col s4">
        <a href="http://github.com/rpaggi" target="_blank"><li class="i-github" title="Github"></li></a>
        <a href="http://twitter.com/{{ site.twitter_username }}" target="_blank"><li class="i-twitter"title="Twitter"></li></a>
        <a href="#"><li class="i-info" title="Informações"></li></a>
      </ul>
      <div class="col s8 center hide-on-large-only grey-text text-lighten-3">
        <h6><b>{ rpaggi }<b></h6>
      </div>
  </div>
</header>
