* {
  margin: 0;
  padding: 0;
}

.header-bg{
  background: url('../img/header-bg.jpg') no-repeat center bottom / cover;
  height: 380px;
}

.header-bar{
  height: 32px;
}

.header-bar ul{
  margin: 0;
}

.header-bar a{
  font-weight: bold;
}

.header-bar ul li{
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 2px 5px;
}

.i-github{
  background: url('../img/i-github.png') no-repeat center;

}

.i-twitter{
  background: url('../img/i-twitter.png') no-repeat center;
}

.i-info{
  background: url('../img/i-info.png') no-repeat center;
}

.content{
  min-height: 400px;
}

.post{
  padding: 10px 0;
}

.post h1{
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.post code{
  font-size: 16px;
  font-family: "Courrier New";
}

.post .highlight{
  background-color: #353535;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.post-text{
  font-size: 18px;
  line-height: 30px;
}

.post-text ul{
  padding-left: 30px;
}

.post-text ul li{
  list-style-type: disc;
}

.post-list{
  padding: 20px 0;
}

.post-list .date{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.post-list h1{
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  padding: 3px 6px;
}

.post-list p{
  font-size: 16px;
  margin: 0;
  padding: 0;
}

footer{
  height: 50px;
  color: #d1d0d4;
}

footer p{
  padding-top: 13px;
}

.love{
  color: red;
}
