.header-bg{
  background: url('../img/header-bg.jpg') no-repeat center bottom / cover;
  height: 380px;
}

.header-bar{
  height: 32px;
}

.header-bar ul{
  margin: 0;
}

.header-bar ul li{
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 2px 5px;
}

.i-github{
  background: url('../img/i-github.png') no-repeat center;

}

.i-twitter{
  background: url('../img/i-twitter.png') no-repeat center;
}

.i-info{
  background: url('../img/i-info.png') no-repeat center;
}

.content{
  min-height: 400px;
}

footer{
  height: 50px;
  color: #d1d0d4;
}

footer p{
  padding-top: 13px;
}

.love{
  color: red;
}
