{{ define "main" }}
  {{- $posts := .RegularPagesRecursive.ByDate.Reverse -}}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "months-toc.html" $posts }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--hextra-navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8">
      <main id="content" class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-4 hx:md:px-12">
        <div class="content">
          <h1 class="page-title">{{ .Title }}</h1>
          <p class="page-count">{{ len $posts }} {{ cond (eq (len $posts) 1) (T "postCount") (T "postsCount") }}</p>
          {{ .Content }}
          {{ partial "post-list.html" $posts }}
        </div>
      </main>
    </article>
  </div>
{{ end }}
