---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <section class="row content text-grey text-darken-1">
      <div class="col s8 offset-s2">
        {{ content }}
      </div>
    </section>
    <div class="col s12 pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous col s2 offset-s2">Posts novos</a>
      {% else %}
        <span class="previous col s2">Posts novos</span>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next col s2 offset-s8 right-align">Posts antigos</a>
      {% else %}
        <span class="next col s2 offset-s8 right-align">Posts antigos</span>
      {% endif %}
    </div>
    {% include footer.html %}
  </body>
</html>
